/* Global styling */

body, html  {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2  {
  color: #f7f7f7;
}

h3, h4, p {
  color: #333333;
  line-height: 1.5rem;
}

a {
    color: #333333;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}

.container  {
  max-width: 1280px;
  margin: auto;
  padding: 0 24px;
}

section  {
  padding: 2rem 0px;
}

.featured {
  width: 60%;
  padding-right: 24px;
}

.transition {
  transition: all 0.35s ease;
}

/* Navigation */

nav {
  height: 64px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 99;
  display: flex;
  align-items: center;
}

nav .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo a  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem
}

nav .logo a img  {
  height: auto;
  width: 40px;
}

nav ul  {
  margin-right: -8px;
  display: flex;
}

nav ul li a  {
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 8px;
  border-bottom: 1px solid transparent;
}

nav ul li a:hover  {
  border-bottom: 1px solid #333333;
}

nav .logo p span  {
  font-weight: bold;
}


/* Hero Section */

#hero  {
  position: relative;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("..//images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 0px;
}

.hero-content-bar {
  background-color: rgba(0, 0, 0, 0.8);
  width: calc((100% + 1280px)/2);
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#hero .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content  {
  max-width: 700px;
}

#hero h1  {
  letter-spacing: 0.15rem;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#hero h2  {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

#hero a {
  color: #333333;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 2rem;
  background-color: #f7f7f7;
  text-align: center;
  padding: 1.25rem 2rem;
  letter-spacing: 0.15rem;
  border: 1px solid transparent;
}

#hero a:hover {
  background-color: transparent;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
}

/* Articles section */

#articles .container {
  display: flex;
}

.featured {
  width: 60%;
  flex: 0 1 auto;
}

.featured a {
  text-decoration: none;
}

.featured a > .featured-copy > h3 {
  border-bottom: 2px solid transparent;
  transition: border 0.25s ease;
}

.featured a:hover > .featured-copy > h3 {
  border-bottom: 2px solid #333333;
}

.featured-copy {
  width: 95%;
}

.featured img {
  width: 100%;
}

.featured h3 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.featured p {
  padding-top: 24px;
}

.featured p:last-child {
  padding: 2rem 0;
  font-size: 0.85rem;
}

.article-list {
  width: 40%;
  margin-top: -1rem;
  flex: 1 0 auto;
}

.article-block a {
  display: flex;
  text-decoration: none;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /*transition: background-color 0.5s ease;*/
}

.article-block a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.article-block img {
  width: 35%;
  margin: 1rem;
}

.article-copy * {
  padding: 5px 0;
}

.article-copy .read-more {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

/* Learing section */

#learning {
  background-color: rgba(0, 0, 0, 0.1);
}

#learning h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.courses-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 48px;
}

.course-block {
  margin: 1rem;
  flex: 1 0 30.3333%;
  background-color: white;
}

.course-block a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.course-block a:hover {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
}

.course-block img {
  width: 100%;
}

.course-block-copy {
  padding: 1rem 1rem 24px 1rem;
}

.course-block-copy p span {
  display: inline-block;
  margin: 8px 0;
}

/* Thesis section */

#thesis > h3 {
  text-align: center;
  margin-bottom: 2rem;
}

#thesis .container {
  display: flex;
}

video {
  width: 100%;
}

/* Footer */

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.85rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

footer a {
  text-decoration: none;
  display: inline-block;
  margin-left: 1rem;
  border-bottom: 1px solid transparent;
}

footer a:hover {
  border-bottom: 1px solid #333333;
}
